*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* sup {
    top: -0.8em;
}
img {
    max-width: 100%;
}
figure {
    margin: 0;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0 ;
}

.fs-7 {
    font-size: 0.8rem;
}

                /* HEADER  */
                
                

.sony-banner{
   
    background-color: black;
}
.sony-banner img {
    height: 15px;
}

/* JUMBO  */

.game-returnal {
    background-image: url("./img/jumbo-bg.png");
    
    
}

.game-banner {
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.game-it-takes-two{
    background-image: url("./img/it-takes-two-hero-banner-desktop.jpg");
}
.game-banner .row {
    min-height: 590px;
}
 
.game-banner__logo{
    max-width: 215px;
}

.game-banner__title {
    font-size: 2rem;
    font-weight: 400;
}




    /* THUMB  */


    .game-thumb {
        position: relative;
        border-radius: 15px;
        overflow: hidden;
        border:4px solid transparent; 
        transition: all 0.3s ease-in-out;
    }


    .game-thumb.active ,.game-thumb:hover{
        border:4px solid var(--bs-blue);    
        box-shadow:inset 0 0 2px white;
        outline: 4px solid white;
        outline-offset: -8px;
        
     }
     .game-thumb:hover{
        bottom: 15px;
     }


        /* PLAYSTATION 5 +    Gadjet  */

        .slider-thumb{
            opacity: 0.5;
        }

        .slider-thumb.active{
            border-bottom: 1px solid var(--bs-blue);
            opacity: 1;
        }
        .slider-thumb:hover{
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
        }



        .slider-thumb figure {
            max-width: 120px;
            margin: 0 auto;
            margin-bottom: 15px;
        }




                    /* NEW-GAME  */





.new-game .game-card img {
    border-radius: 26px;
    
}

.new-game .game-card:hover,.promotion-card:hover, .social-card:hover a img{
    scale: 1.02;
    transition: all 0.2s ease-in-out;
}
.promotion-card img{
    border-radius: 10px;
}

                    /* PLAYSTATION plus */

#ps-plus{
    background:#bebcbb;
}
.section-logo{
   
    margin-bottom: 20px;



}

.cta-plus{
    background: #d9dadc;
    border: 1px solid #d9dadc;
}


            /* PS-NOW */

#ps-now {
    background:#161c3b ;
    color: white;
}




            /* FOOTER  */

   #main-footer{
       background:#00439c;
   }   
   #main-footer a{
color: currentColor;
   }
   
   #main-footer ul li{
      white-space: pre-wrap;
   }

   #main-footer .section-logo img{
       min-width: 100%;
       height: 75px;
   }
   #main-footer .section-logo-sie img{
       height: 50px;
   }

   #main-footer ul li a, .copy-text{
       text-decoration: none;
       font-size: 12px;
   }


   .container-copy {
    padding-top: 50px;
    width: 40%;
   
   }






            /* NAVBAR FULLWIDHT  */
.navbar li{
    position: initial;
}
.navbar{
    z-index: 999999;
}
.navbar .dropdown .dropdown-menu  {
    top: 60px;
    left: 0;
    right: 0;
    border: none;
    background-color: #f8f9fa;
    border-radius: 0 !important;
    
  }


  .link-container{
      margin-top: 20px;
      padding-top: 10px;
      border-top: 1px solid gray;
  }


  .navbar__icon-wrapper img {
width: 90px;  }

  

  .link-container ul{
display: contents;  }
  
.link-container ul li a:before{
    display: block;
content: "";
height: 8px;
aspect-ratio: 1;
background-color: #0070d1;
border-radius: 999999px;
position: absolute;
top: 50%;
left: 0%;
transform: translate(0 ,-50%);
}

.link-container ul li{
    position: relative;
}
.link-container ul li a:hover{
    color:#0070d1; 
    background-color: transparent;
}
.navbar__card {
    aspect-ratio: 1;
    margin-bottom: 10px;
    border: 2px solid transparent;
    padding:15px;
    
}

.navbar__card:hover {
    border-radius: 5px;
box-shadow: whitesmoke;
/* border: 2px solid rgba(0, 0, 0, 0.123); */
box-shadow: 1px 1px 5px #adadad;
}